body {
    background-color: #f5f7ff;
}    
.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-container {
  margin-top: 30px;
}
.form-groups{
  margin-bottom: 0;
}
.main-nav-list.active a {
  background: linear-gradient(to right, #004580, #0084bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-blue {
  background: linear-gradient(to right, #17326d, #027cb7);
  color: white;
  border: none;
}

.btn-red {
  background: linear-gradient(to right, #027cb7, #17326d);
  color: white;
  border: none;
}

/* cropper  */
.image-upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.image-box {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.image-preview {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview i {
  font-size: 50px;
  color: #ccc;
}

.remove-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
}

.fa-times-circle {
  color: red;
  font-size: 20px;
}

#cropperModal {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 100;
}

#cropperModal img {
  /* max-width: 100%; */
  max-width: 100%;
    max-height: 300px; /* Adjust this value based on your needs */
    display: block;
}
.image-box:hover .remove-icon {
      display: block;
  }





  .sidebar-categories .head {
    line-height: 60px;
    background: #233274;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff; }
  .sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1); }
  .sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee; }
    .sidebar-categories .main-nav-list a:hover {
      color: #0085c0; }
    .sidebar-categories .main-nav-list a .number {
      color: #cccccc;
      margin-left: 10px; }
    .sidebar-categories .main-nav-list a .lnr {
      margin-right: 10px;
      display: none; }
  .sidebar-categories .main-nav-list.child a {
    padding-left: 32px; }
  
  .sidebar-filter {
    margin-top: 50px; }
    .sidebar-filter .top-filter-head {
      line-height: 60px;
      background: #828bb3;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 400;
      color: #fff; }
    .sidebar-filter .head {
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 700;
      color: #222222;
      text-transform: uppercase;
      margin-top: 5px; }
    .sidebar-filter .common-filter {
      border-bottom: 1px solid #eee;
      padding-bottom: 25px; }
      .sidebar-filter .common-filter .filter-list {
        position: relative;
        padding-left: 28px; }
  
  .filter-list {
    line-height: 30px; }
    .filter-list i {
      margin-right: 10px;
      cursor: pointer; }
    .filter-list .number {
      color: #ccc; }
    .filter-list label {
      margin-bottom: 3px;
      cursor: pointer; }
  
  @-webkit-keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  @-moz-keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  @keyframes click-wave {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.35;
      position: absolute;
      top: 50%;
      left: 50%; }
    100% {
      transform: translate(-50%, -50%) scale(3);
      opacity: 0;
      top: 50%;
      left: 50%;
      position: absolute; } }
  .pixel-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #eee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1; }
  
  .pixel-radio:checked {
    border: 7px solid #0085c0; }
  
  .pixel-radio:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #0085c0;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0; }
  
  .pixel-radio {
    border-radius: 50%;
    top: 6px; }
  
  .pixel-radio::after {
    border-radius: 50%; }
  
  .price-range-area {
    padding: 30px 30px 0 30px; }
    .price-range-area .noUi-target {
      background: #eee;
      border-radius: 0px;
      border: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal {
      height: 6px; }
    .price-range-area .noUi-connect {
      background: #eee;
      border-radius: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal .noUi-handle {
      width: 16px;
      height: 16px;
      left: -8px;
      top: -5px;
      border-radius: 50%;
      border: 0px;
      background: #0085c0;
      box-shadow: none;
      cursor: pointer;
      -webkit-transition: ease 0.1s;
      -moz-transition: ease 0.1s;
      -o-transition: ease 0.1s;
      transition: ease 0.1s; }
      .price-range-area .noUi-horizontal .noUi-handle:focus {
        outline: none; }
      .price-range-area .noUi-horizontal .noUi-handle:hover {
        border: 3px solid #0085c0;
        background: #fff; }
    .price-range-area .noUi-handle::after, .price-range-area .noUi-handle::before {
      display: none; }
    .price-range-area .value-wrapper {
      margin-top: 20px;
      color: #cccccc; }
      .price-range-area .value-wrapper .to {
        margin: 0 5px; }
    .price-range-area .price {
      margin-right: 5px;
      color: #777777; }